@import './styles/utils';

.box {
    display: inline-block;
    width: $size;
    height: $size;
    border: 1px solid black;
    position: fixed;
    @include place-at-center();
    &.blue {
        background: blue;
    }
    &:hover {
        background: yellow
    }
    &:active {
        background: red;
    }
    .box-inside{
        position: absolute;
        background:black;
        width: $size/2;
        height: $size/2;
        @include place-at-center();
    }
}