//@import 'utils'; 참고로 data 옵션은 모든 scss 파일에 해당 라인을 추가시켜주는 기능입니다.

.box {
    display: inline-block;
    width: $size;
    height: $size;
    border: 1px solid black;
    position: fixed;
    @include place-at-center();
    &.blue {
        background: blue;
    }
    &:hover {
        background: yellow
    }
    &:active {
        background: red;
    }
    .box-inside{
        position: absolute;
        background:black;
        width: $size/2;
        height: $size/2;
        @include place-at-center();
    }
}